.botao-primario{
    width: auto;
    outline: none;
    border: 0;
    background-color: #7533a8;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px black;
    transition: 0.3s linear all;
    &:hover{
        cursor: pointer;
        box-shadow: 0px, 0px, 5px, 3px black;
    }
    &:disabled{
        cursor: default;
        opacity: 0.7;
    }
}